{% extends "layout.html" %}

{% block title %}
Graphics of Femenicidios en Peru
{% endblock %}

{% block content %}

<!-- ChartJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js"></script>
<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
</style>

<h1 class="text-center">Femenicidios en el Peru </h1>
<h3 class="text-center">de 2015 a 2019</h3>
<hr>
<h4>Totales de Femenicidios</h4>
<h6>del 2015 al 2019</h6>
<div class="row">
	<div class="w-100 mx-auto" style="width: 100%;">
			<canvas id="totales_horizontal_bars" width:"400" height:"200"></canvas>
	</div>
</div>
<hr>
<h4>Pie Totales</h4>
<h6>del 2015 al 2019</h6>
<div class="row">
	<div class="mx-auto" style="width: 60%">
			<canvas id="pie_totales" width:"400" height:"200"></canvas>
	</div>
</div>
<hr>
<h4>Totales line</h4>
<h6>del 2015 al 2019</h6>
<div class="row">
	<div class="w-100 mx-auto">
			<canvas id="totales_line" width:"400" height:"200"></canvas>
	</div>
</div>
<hr>
<h4>Top 5 de 2018</h4>
<div class="row">
	<div class="w-100 mx-auto">
			<canvas id="top_5_de_2018" width:"400" height:"200"></canvas>
	</div>
</div>
<hr>
<h4>Top 10 del 2015 a 2019</h4>
<div class="row">
	<div class="w-100 mx-auto">
			<canvas id="top_10_totales" width:"400" height:"200"></canvas>
	</div>
</div>
<hr>
<h4>Cusco y La libertad comparacion 2015 a 2019</h4>
<div class="row">
	<div class="w-100 mx-auto">
			<canvas id="cusco_la_libertad_line" width:"400" height:"200"></canvas>
	</div>
</div>

<!-- Here is scrips-->

<script>

	<!-- Colors generated -->	
function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}


<!-- totales_horizontal_bars -->

	var LABELS = [{% for label in totales['labels'] %} "{{ label }}", {% endfor %}]
	var DATA = [{% for value in totales['values'] %} {{ value }}, {% endfor %}]

	var ctx = document.getElementById("totales_horizontal_bars").getContext("2d");
	var totales_horizontal_bars = new Chart(ctx,{
		type: 'bar',
		data:{ 
			labels: LABELS,
			datasets: [{
				label: 'Numero de Femenicidios reportados',
				data: DATA,
				backgroundColor: [getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(),
				getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(),
				getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor()],
			},]
		},
		options: { 
			scales: {
				yAxes: [{
					ticks:{
					beginAtZero: true
					}
				}]
			}}
		
	});

<!-- pie totales -->

	var ctx = document.getElementById("pie_totales").getContext("2d");
	var pie_totales = new Chart(ctx,{
		type: 'pie',
		data:{ 
			labels: LABELS,
			datasets: [{
				label: 'Numero de Femenicidios reportados',
				data: DATA,
				backgroundColor: [getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(),
				getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(),
				getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor()],
			},]
		},
		options: { 
			}
		
	});

<!-- totales line -->

var LABELS_DATA_LINE = [{% for label in totales_line['labels'] %} "{{ label }}", {% endfor %}]
var DATA_LINE = [{% for value in totales_line['values'] %} {{ value }}, {% endfor %}]

	var ctx = document.getElementById("totales_line").getContext("2d");
	var totales_line = new Chart(ctx,{
		type: 'line',
		data:{ 
			labels: LABELS_DATA_LINE,
			datasets: [{
				label: 'Numero de Femenicidios reportados',
				data: DATA_LINE,
				backgroundColor: getRandomColor(),
				borderColor: getRandomColor(),
				color: getRandomColor(),
			},]
		},
		options: { 
			}
		
	});

<!-- top 5 2018 -->

var LABELS_TOP_5_2018 = [{% for label in top_5_2018['labels'] %} "{{ label }}", {% endfor %}]
var DATA_TOP_5_2018 = [{% for value in top_5_2018['values'] %} {{ value }}, {% endfor %}]

	var ctx = document.getElementById("top_5_de_2018").getContext("2d");
	var top_5_de_2018 = new Chart(ctx,{
		type: 'bar',
		data:{ 
			labels: LABELS_TOP_5_2018,
			datasets: [{
				label: 'Numero de Femenicidios reportados',
				data: DATA_TOP_5_2018,
				backgroundColor: [getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(),]
			},]
		},
		options: {
			indexAxis: 'y',
			}
		
	});

<!-- top 10 totales -->

var LABELS_TOP_10 = [{% for label in top_10_totales['labels'] %} "{{ label }}", {% endfor %}]
var DATA_TOP_10 = [{% for value in top_10_totales['values'] %} {{ value }}, {% endfor %}]

	var ctx = document.getElementById("top_10_totales").getContext("2d");
	var top_10_totales = new Chart(ctx,{
		type: 'bar',
		data:{ 
			labels: LABELS_TOP_10,
			datasets: [{
				label: 'Numero de Femenicidios reportados',
				data: DATA_TOP_10,
				backgroundColor: [getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor(), getRandomColor()]
			},]
		},
		options: {
			}
		
	});

<!-- cusco_la_libertad_line -->

var LABELS_CUSCO_LA_LIBERTAD = [{% for label in cusco_la_libertad['labels'] %} "{{ label }}", {% endfor %}]
var DATA_LIBERTAD = [{% for value in cusco_la_libertad['values']['la libertad'] %} {{ value }}, {% endfor %}]
var DATA_CUSCO = [{% for value in cusco_la_libertad['values']['cusco'] %} {{ value }}, {% endfor %}]

	var ctx = document.getElementById("cusco_la_libertad_line").getContext("2d");
	var cusco_la_libertad_line = new Chart(ctx,{
		type: 'line',
		data:{ 
			labels: LABELS_CUSCO_LA_LIBERTAD,
			datasets: [{
				label: 'Numero de Femenicidios reportados en la libertad',
				data: DATA_LIBERTAD,
				backgroundColor: getRandomColor(),
				borderColor: getRandomColor(),
			},
			{
				label: 'Numero de Femenicidios reportados en cusco',
				data: DATA_CUSCO,
				backgroundColor: getRandomColor(),
				borderColor: getRandomColor(),
			},]
		},
		options: {
			}
		
	});

</script>


{% endblock %}
